body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }

header {
    background-color: #DBA628;
    color: #FCF7EA;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}
.song-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-grow: 1; /* Allow the main content area to grow and push the footer down */
    height: 60vh;
    overflow-y: auto;
    margin-top: 50px;
}

.song-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 85%;
}

h2 {
    margin: 0;
    font-size: 20px;
}

p {
    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 5px;
    font-weight: bold;
}

.view-details {
    background-color: #DBA628;
    color: white;
}

.edit {
    background-color: #AB892C;
    color: white;
}

.delete {
    background-color:#753918;
    color: white;
}

a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.add-song-button {
    text-align: center;
    margin-top: 25px;
}

.add-song {
    display: inline-block;
    padding: 10px 20px;
    background-color:#AB892C; /* You can change the background color as desired */
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #753918;
    color: #FCF7EA;
    margin-top: auto; /* Push the footer to the bottom of the page */
}
