<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <link href="../static/css/login.css" rel="stylesheet" th:href="@{../css/login.css}">
    <script>
        function validatelogin() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            if (username === '' || password === '') {
                alert("Both username and password are required to login.");
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <div id="cont">
        <video autoplay loop muted plays-inline id="backvid">
            <source src="../images/stars-6962.mp4" type="video/mp4">
        </video>
        <div id="form-box">
            <form th:action="@{login}" action="login" name="login" method="POST" id="login" onsubmit="return validatelogin();">
                <h2>Log In</h2>
                <div id="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" name="username" id="username" required>
                    <label for="">Username</label>
                </div>
                <div id="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" id="password" required>
                    <label for="">Password</label>
                </div>
                <button type="submit"><span style="color:white;">Log In</span></button>
                <div id="forget">
                    <a href="ChristaBella@gmail.com">Forgot Password?</a>
                </div>
                <div id="register">
                    <p>Don't have an account? <a href="signup.html">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
